<%=css('auth')%>

<div id = 'auth-banner-container-1'>
	<div id = 'auth-banner-container-2'>
		<div id = 'auth-banner'>
			Welcome to Ruby Spreadsheet API, click <a href = "<%= authorize_url %>">here</a> to authorize access and enjoy!
		</div>
	</div>
</div>
