#auth-banner-container-1
{
	width:50%; 
	margin:0 auto;
}

#auth-banner-container-2
{
	display:table; 
	width:100%; 
	height:60px;
}

#auth-banner
{
	display:table-cell; 
	background-color:lightblue; 
	width:100%; 
	vertical-align:middle; 
	text-align:center; 
	border:4px solid black; 
	font-size:large; 
	font-weight:bold;
}
